# APP URL: This is the API's base URL. If you're using the Dify cloud service, set it to: https://api.dify.ai/v1.
DIFY_BASE_URL=

# APP API Key: This is the key used to authenticate your app's API requests. 
# You can generate it on the app's "API Access" page by clicking the "API Key" button in the top-right corner.
DIFY_API_KEY=

# APP ID: This is the unique identifier for your app. You can find it in the app's detail page URL. 
# For example, in the URL `https://cloud.dify.ai/app/xxx/workflow`, the value `xxx` is your APP ID.
DIFY_APP_ID=

# USER ID: This is the unique identifier for your user. You can create a user ID whatever you want.
# This value will be used to identify the user in the app.
DIFY_USER_ID=

